h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.619em;
  line-height: 1.381em;
}

h2 {
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 0.45em;
  line-height: 1.438em;
}

h3 {
  font-size: 20px;
  font-size: 0.875rem;
  margin-top: 1.5em;
  margin-bottom: 0.45em;
  line-height: 1.5em;
  color: #000;
}

.intro-text p {
  font-size: 1rem;
}

.intro-text h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

.arrow {
  position: inline-block;
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
.arrow {
  position: inline-block;
  box-sizing: border-box;
  height: 1em;
  width: 1em;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin: 0 0 0.5em 1em;
}

.arrow:hover {
  border-width: 0px 2px 2px 0px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-relative {
  position: relative;
}

.container--fluid {
  max-width: 2200px;
}

// min width of button that placed on top of map
.map-dropdown {
  button {
    min-width: 300px !important;
  }
}

// bzr content styles
.bzr-content {
  h3 {
    margin-top: 40px;
    font-size: 30px;
    @media (max-width: 599px) {
      font-size: 24px;
    }
  }
  h4 {
    margin-top: 30px;
    font-size: 24px;
    @media (max-width: 599px) {
      font-size: 20px;
    }
  }
  h5 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: 599px) {
      font-size: 16px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  // source text
  .content-source {
    display: block;
    text-align: right;
    font-size: 12px;
    padding-top: 15px;
  }
}

//modal
.my-modal {
  .v-overlay__content {
    width: 90%;
    max-width: 900px;
  }
}

// remove breadcrum margin
#__layout {
  ul.v-breadcrumbs {
    padding-left: 0;
    border-bottom: 1px solid #000;
  }
}

// transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// berlin.de adjustments

#__nuxt {
  box-sizing: border-box !important;
}

.theme--light.v-application {
  background: #fff !important;
}

.container-wrapper {
  margin-bottom: 0px !important;
  .container {
    padding: 0;
    width: 100%;
    max-width: 61.25rem;
    min-width: none;
  }
}
