// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


/*
Change font
@import "~vuetify/src/styles/styles.sass";
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap");
$body-font-family: "Maven Pro" !important;
*/


$color-default:  #223A8F !default;
$color-highlight: #e60032 !default;



$color-indGr1: rgb(20,150,140);
$color-indGr2: rgb(100,185,230);
$color-indGr3: rgb(220,200,45);
$color-indGr4: rgb(230,0,50);
$color-indGr5: rgb(145,200,130);
$color-indGr6: rgb(45,145,210);


$color-phase: #ddd;
$color-phase1: #fff;
$color-phase2: #B8E986;
$color-phase3: #FFE400;
$color-phase4: #F5A623;